{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 align="center">Questionnaire</h1>
<form method="POST" action="{{ url_for('views.home') }}">
  {{ form.hidden_tag() }}
  <div>
    {{ form.question1.label }}<br>
    {{ form.question1(size=40) }}<br>
  </div>
  <div>
    {{ form.question2.label }}<br>
    {{ form.question2(size=40) }}<br>
  </div>
  <div>
    {{ form.question3.label }}<br>
    {{ form.question3(size=40) }}<br>
  </div>
  <div>
    {{ form.submit() }}
  </div>
</form>
{% endblock %}
